# Project exclude paths
/.gradle/
/Topics/Introduction to Kotlin/Hello, Kotlin/out/
/Topics/Introduction to Kotlin/Hello, Kotlin/out/production/classes/
/Topics/Introduction to Kotlin/Theory/build/
/Topics/Introduction to Kotlin/Theory/out/
/Topics/Introduction to Kotlin/Theory/out/production/classes/
/Topics/Overview of the basic program/The eternal truth/out/
/Topics/Overview of the basic program/The eternal truth/out/production/classes/
/Topics/Overview of the basic program/The Hello World program/out/
/Topics/Overview of the basic program/The Hello World program/out/production/classes/
/Topics/Overview of the basic program/Theory/out/
/Topics/Overview of the basic program/Theory/out/production/classes/
/Topics/Overview of the basic program/Your name/out/
/Topics/Overview of the basic program/Your name/out/production/classes/
/Topics/Standard output/Correct the code/out/
/Topics/Standard output/Correct the code/out/production/classes/
/Topics/Standard output/Print a triangle/out/
/Topics/Standard output/Print a triangle/out/production/classes/
/Topics/Standard output/Print code/out/
/Topics/Standard output/Print code/out/production/classes/
/Topics/Standard output/Theory/out/
/Topics/Standard output/Theory/out/production/classes/
/Topics/Standard output/Tic-Tac-Toe/out/
/Topics/Standard output/Tic-Tac-Toe/out/production/classes/
/Topics/String templates/Repetitions and templates/out/
/Topics/String templates/Repetitions and templates/out/production/classes/
/Topics/Values and variables/Swap/out/
/Topics/Values and variables/Swap/out/production/classes/
/Topics/Values and variables/Theory/out/
/Topics/Values and variables/Theory/out/production/classes/
/Zookeeper/task/build/
/Zookeeper/task/out/
/Zookeeper/task/out/production/classes/